@import "compass/css3"

*
	+box-sizing(border-box)

body
	margin: 0

.outer-wrapper
	width: 100%
	height: 100%
	background: #fff
	position: absolute !important

.wrapper
	width: 100%
	height: 100%
	&:after
		content: ""
		display: table
		clear: both

.gifs
	margin-top: 46px

.gif
	width: 320px
	float: left
	overflow: hidden
	+transition( height 200ms ease, padding 200ms ease, z-index 200ms ease )
	> img
		width: 100%
		height: auto
		display: block

.nav
	position: fixed
	height: 46px
	top: 0
	z-index: 2
	background: #fff
	width: 100%
	h1
		margin: 0
		float: left
		padding: 8px
		font: 24px/30px Helvetica, Arial, sans-serif
		color: #eee
		background: #222
	input
		float: left
		width: 250px
		margin: 8px
		height: 30px
		font: 18px Helvetica, Arial, sans-serif
		padding: 3px
		border: none
		&:focus
			outline: none
